#content{
    display: flex;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". content .";
    padding: 64px 0;
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;

    @include sm{
        padding: 100px 0;
        grid-template-columns: auto 80% auto;
    }
   @include md{
        padding: 128px 0;
        grid-template-columns: auto 80% auto;
    }
    @include lg{
        grid-template-columns: auto 1440px auto;
    }



div{
    grid-area: content;
    @include lg{
        padding:0 30%;
    }

// generic call to h2?
    #tagline{
   background-image: linear-gradient(60deg, #5D1676, #C02FF3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
        }
    }
}

