#section-2{
    background-color: var(--purple);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/ArtImage.png");
    background-size: 40vh;

    #box{
        height: 350px;
        width: 550px;
        background-image:url("../img/paintbin.png");
        size: cover;
        border: 20px solid var(--purple);
    }
}