#section-1{
    padding-top: 5vh;
    background-color: var(--teal);
    display: grid;
    justify-content: center;
    height: 140vh;
    width: 100%; 
    grid-template-areas:
      ". image ."
      ". text .";
  }
  
  img {
    width: 100%;
    height: 100%;
    grid-area: image;
    align-items: center;
  }
  
  .text {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
    color:  var(--white);
    grid-area: text;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20% 0% 30% 0%;
}
    

//studio section