#section-3 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--green);
		height: 100vh;
		display: flex;
		grid-template-columns: auto 90% auto;
		grid-template-areas: ". content .";
		padding: 64px 0;
		font-family: "Open Sans", sans-serif;
		
	
		@include sm{
			padding: 100px 0;
			justify-content: center;
			grid-template-columns: auto 80% auto;
		}
	   @include md{
			padding: 128px 0;
			grid-template-columns: auto 80% auto;
		}
		@include lg{
			grid-template-columns: auto 1440px auto;
		}
	
	
	
	h1{
		grid-area: content;
		@include lg{
		   padding:0 30%;
		}

	}
	}

	//mission section