/* =============
    Header
============= */
header{
    position:fixed;
    background-color: #EFEEEE;
    width: 100%; 
    z-index: 100%;

    >div{
    display:grid; 
    grid-template-columns: 20% auto;
    padding: 8px 16px;

    aside{
        a{
            display:inline-block;    
        }
    }
    }

    button{
        border: none;
        background-color: #5D1676;
        border-radius: 8px;
    
    }
}