/* =============
    Navigation
============= */
nav{
    height:100%;

    ul{
        height:100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin: 0;
        
        li{
            margin-left: 4vw;

            a:link, a:visited{
                font-family: "Open Sans", sans-serif;
                color:  #5D1676;
                
                transition: 0.25s;
                font-size: rem-calc(18);
                font-weight: 400;

                &:hover, &:active{
                    color: #5D1676;
                }
            }
        }
    }
}